mixin container()
	.container&attributes(attributes)
		block

mixin image()
	-
		let srcWebp = attributes.src.split('.').slice(0, -1).join('.') + '.webp'

	picture
		source(srcset=srcWebp type='image/webp')
		img&attributes(attributes)